<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Cigar - 404</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" href="../static/assets/img2/AFM MEDICAL — копия.png">
		<!-- all css here -->
        <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/assets/css/bundle.css">
        <link rel="stylesheet" href="../static/assets/css/plugins.css">
        <link rel="stylesheet" href="../static/assets/css/style.css">
        <link rel="stylesheet" href="../static/assets/css/responsive.css">
        <script src="../static/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
            
     <!-- header boshlandi -->
     <header class="header_area">
        <div class="header_top">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg-6 col-md-6">
                        <div class="top_right text-end" style="justify-content: right !important;">
                            <ul
                                style="display: flex; justify-content: right; align-items: center; gap: 5px; background-color: #c51f30">
                                <a href="#" style="color: white;">О Нас |</a>
                                <a href="#" style="color: white;">Арендодателям |</a>
                                <a href="#" style="color: white;">Вакансии |</a>
                                <a href="#" style="color: white;">Наши аптеки |</a>
                                <a href="#" style="color: white;">Загрузки рецепт |</a>
                                <a href="#" style="color: white;">Рус /</a>
                                <a href="#" style="color: white;">Uzb</a>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header top start-->

        <!--header middel start-->
        <div class="header_middel">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4">
                        <div class="logo">
                            <a href="index.html"><img src="../static/assets/img2/AFM MEDICAL.png" alt="" width="220px"></a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-5">
                        <div class="categories_menu">
                            <div class="categories_title" style="width: 160px;">
                                <h2 class="categori_toggle">Каталог</h2>
                                <div class="categories_menu_inner">
                                    <ul>
                                        <li><a href="about.html">Batafsil</a></li>
                                        <li><a href="cart.html">Savat</a></li>
                                        <li><a href="checkout.html">To'lov</a></li>
                                        <li><a href="login.html">Kirish</a></li>
                                        <li><a href="contact.html">Aloqa</a></li>
                                        <li><a href="shop.html">Katalog</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="search_bar">
                            <form action="#">
                                <input placeholder="Поиск: " type="text">
                                <button class="btn" style=".btn {color: black;}"><i
                                        class="ion-ios-search-strong"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <div class="cart_area">
                            <div class="wishlist_link">
                                <a href="#">
                                    <p style="line-height: 15px !important;"><i class="ion-person" style="font-size: 2.3rem; display: flex;
                                justify-content: center;align-items: center; margin-right: 10px;"></i> <span>Личный
                                            кабинет</span></p>
                                </a>
                            </div>
                            <div class="wishlist_link" style="margin-left: 15px;">
                                <a href="#">
                                    <p style="line-height: 15px !important;"><i class="ion-headphone" style="font-size: 2.3rem; display: flex;
                                justify-content: center;align-items: center; margin-right: 10px;"></i> <span> <span
                                                style="font-size: 12px; 
                                line-height: 10px;">
                                                Callcenter</span>
                                            <span
                                                style="display: flex; justify-content: center; align-items: center;">1080
                                            </span></span></p>
                                </a>
                            </div>
                            <div class="cart_link" style="margin-top: 10px;">
                                <a href="javascript:void(0)" style="color: black !important; font-weight: 400; "><i
                                        class="ion-ios-cart"></i>Корзина</a>
                                <span class="cart_count">2</span>
                                <!--mini cart-->
                                <div class="mini_cart">
                                    <div class="items_nunber">
                                        <span>2 Items in Cart</span>
                                    </div>
                                    <div class="cart_button checkout">
                                        <a href="checkout.html">Proceed to Checkout</a>
                                    </div>
                                    <div class="cart_item">
                                        <div class="cart_img">
                                            <a href="#"><img src="../static/assets/img/cart/cart1.jpg" alt=""></a>
                                        </div>
                                        <div class="cart_info">
                                            <a href="#">Mr.Coffee 12-Cup</a>
                                            <form action="#">
                                                <input min="0" max="100" type="number">
                                                <span>$60.00</span>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="cart_item">
                                        <div class="cart_img">
                                            <a href="#"><img src="../static/assets/img/cart/cart2.jpg" alt=""></a>
                                        </div>
                                        <div class="cart_info">
                                            <a href="#">Lid Cover Cookware</a>
                                            <form action="#">
                                                <input min="0" max="100" type="number">
                                                <span>$160.00</span>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="cart_button view_cart">
                                        <a href="#">View and Edit Cart</a>
                                    </div>
                                </div>
                                <!--mini cart end-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header middel end-->

        <!--header bottom satrt-->
        <div class="header_bottom sticky-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-5">
                        <!-- <div class="categories_menu">
                            <div class="categories_title" style="width: 170px;">
                                <h2 class="categori_toggle">Каталог</h2>
                            </div>
                            <div class="categories_menu_inner">
                                <ul>
                                    <li><a href="about.html">Batafsil</a></li>
                                    <li><a href="cart.html">Savat</a></li>
                                    <li><a href="checkout.html">To'lov</a></li>
                                    <li><a href="login.html">Kirish</a></li>
                                    <li><a href="contact.html">Aloqa</a></li>
                                    <li><a href="shop.html">Katalog</a></li>
                                </ul>
                            </div>
                        </div> -->
                    </div>

                    <!-- <div class="col-lg-2">
                        <div class="contact_phone">
                            <div class="contact_icone">
                                <span class="pe-7s-headphones"></span>
                            </div>
                            <div class="contact_number">
                                <p  style="color: #c51f30;">Call center</p>
                                <span>1080</span>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <!--header bottom end-->
    </header>
<!-- header tugadi -->
    
      
             <!--error section area start-->
            <div class="error_section">
                <div class="container">   
                    <div class="row">
                        <div class="col-12">
                            <div class="error_form">
                                <h1>404</h1>
                                <h2>Hatolik yuz berdi yana bir-bor urnib ko'ring</h2>
                                <p>"Kechirasiz, lekin siz qidirayotgan sahifa mavjud emas, o‘chirib  tashlangan, <br> nomi o‘zgartirilgan yoki  vaqtincha mavjud emas."</p>
                                <form action="#">
                                    <input placeholder="Поиск..." type="text">
                                    <button type="submit" style="text-transform: capitalize;">qidiruv</button>
                                </form>
                                <a href="index.html">orqaga qaytish</a>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
            <!--error section area end--> 
            
        
            
<!-- footer start berdik -->
<div class="shipping_area shipping_contact" style="background-color: #15315a;">
    <div class="container">
        <div class="shipping_contact">
            <div class="row">
                <div class="footer_area">
                    <div class="container">
                        <div class="footer_top">
                            <div class="row">
                                <div class="col-lg-4 col-md-8">
                                    <div class="single_footer">
                                        <div class="footer_logo">
                                            <img src="../static/assets/img2/AFM MEDICAL oq.png" alt="" width="220">
                                        </div>
                                        <div class="footer_contact">
                                            <ul>
                                                <li style="color: white;"><i class="ion-location"
                                                        style="color: white;"></i>
                                                    Andijon shahar istiqlol ko'chasi 27 uy</li>
                                                <li style="color: white;"><i class="ion-ios-telephone"
                                                        style="color: white;"></i> 33 991 99 91</li>
                                                <li style="color: white;"><i class="ion-ios-email"
                                                        style="color: white;"></i> <a href="#"
                                                        style="color: white;">Manzil@akmalfarm.com</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-4 col-sm-6">
                                    <div class="single_footer">
                                        <h3 style="color: white;">Покупателю</h3>
                                        <ul>
                                            <a href="#" style="color: white;font-size: 12px;">Как заказать
                                                лекарства?</a>
                                            <a href="#" style="color: white;font-size: 12px;">Доставка и оплата</a>
                                            <a href="#" style="color: white;font-size: 12px;">Популярные вопросы</a>
                                            <a href="#" style="color: white;font-size: 12px;">Справочники</a>
                                            <a href="#" style="color: white;font-size: 12px;">Пользовательское
                                                соглашение</a>
                                            <a href="#" style="color: white;font-size: 12px;">Условия возврата
                                                товара</a>
                                            <a href="#" style="color: white;font-size: 12px;">Новости и статьи</a>
                                            <a href="#" style="color: white;font-size: 12px;">Программа
                                                лояльности</a>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-4 col-sm-6">
                                    <div class="single_footer">
                                        <h3 style="color: white;">Компания</h3>
                                        <ul>
                                            <a href="#" style="color: white; font-size: 0.8rem;">О компании</a>
                                            <a href="#" style="color: white;font-size: 0.8rem;">Наши аптеки</a>
                                            <a href="#" style="color: white;font-size: 0.8rem;">Сертификаты</a>
                                            <a href="#" style="color: white;font-size: 0.8rem;">Контакты</a>
                                        </ul> <br>
                                        <h3 style="color: white;">Akmal Farm Medical</h3>
                                        <ul>
                                            <a href="#" style="color: white; font-size: 11px;">Следите за
                                                обновлениями</a>
                                            <a href="#" style="color: white; font-size: 11px;">Akmal Farm Medical в
                                                социальных сетях</a>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-8">
                                    <div class="single_footer">
                                        <div class="location-container">
                                            <div class="map-wrapper">
                                                <iframe
                                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.835434508616!2d144.95373531531676!3d-37.81627917975151!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11fd81%3A0xf577a63485a1189d!2sFederation%20Square!5e0!3m2!1sen!2s!4v1619560513329!5m2!1sen!2s"
                                                    width="1900" height="300" style="border:0;" allowfullscreen=""
                                                    loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                                                </iframe>
                                            </div>
                                        </div>
                                        <style>
                                            .location-container {
                                                width: 500px;
                                                margin: 0px auto;
                                                padding: 20px;
                                                border-radius: 10px;
                                                text-align: center;
                                            }

                                            .location-container h1 {
                                                font-size: 2rem;
                                                margin-bottom: 10px;
                                                color: #333;
                                            }

                                            .location-container p {
                                                font-size: 1rem;
                                                margin-bottom: 20px;
                                                color: #555;
                                            }

                                            .map-wrapper {
                                                overflow: hidden;
                                                border-radius: 10px;
                                                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                                            }

                                            .map-wrapper iframe {
                                                width: 800px;
                                                height: 300px;
                                                border: none;
                                                border-radius: 10px;
                                            }
                                        </style>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer qismini tugatdik -->
            
       

    
		
		<!-- all js here -->
        <script src="../static/assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="../static/assets/js/popper.js"></script>
        <script src="../static/assets/js/bootstrap.min.js"></script>
        <script src="../static/assets/js/plugins.js"></script>
        <script src="../static/assets/js/main.js"></script>
    </body>
</html>
