{%  extends 'base.html'%}
{% load static %}
{% block content %}
    <!-- breadcrumbs area start-->
    <div class="breadcrumbs_area commun_bread">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <h3>Batafsil</h3>
                        <ul>
                            <li><a href="index.html">Asosiy</a></li>
                            <li><i class="fa fa-angle-right"></i></li>
                            <li>batafsil</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <div class="class-about-page">
        <div class="about-1">
            <img src="../static/assets/img2/_kDOW1lS02JaUEnYeUgIsGcIAeJzZOry.jpg" alt="">
        </div>
        <div class="about-2">
            <h1>About Title</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio quisquam officiis temporibus illo!
                Fuga nulla at quasi dolor eaque quis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi dolorum iusto ut non iste aut, cum neque
                fuga perferendis eos!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur aliquid dicta fugiat similique
                provident a tempora eligendi dolor ratione iusto!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia architecto eum molestiae nesciunt
                quidem harum ex laboriosam vel, repellat dolorem?</p>
            <button>Viev more</button>
        </div>
    </div>
    <style>
        .class-about-page {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px;
            gap: 20px;
        }

        .about-1 {
            flex: 1;
            max-width: 45%;
            text-align: center;
        }

        .about-1 img {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }

        .about-2 {
            flex: 1;
            max-width: 45%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .about-2 h1 {
            font-size: 2rem;
            margin-bottom: 10px;
            color: #333;
        }

        .about-2 p {
            font-size: 1rem;
            margin-bottom: 15px;
            color: #666;
        }

        .about-2 button {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 1rem;
            cursor: pointer;
            border-radius: 5px;
            width: 200px;
            transition: background-color 0.3s ease;
        }

        .about-2 button:hover {
            background-color: #0056b3;
        }

        @media screen and (max-width: 768px) {
            .class-about-page {
                flex-direction: column;
                padding: 10px;
            }

            .about-1,
            .about-2 {
                max-width: 100%;
            }

            .about-2 h1 {
                font-size: 1.5rem;
            }

            .about-2 p {
                font-size: 0.9rem;
            }

            .about-2 button {
                font-size: 0.9rem;
            }
        }

        @media screen and (max-width: 480px) {
            .about-2 h1 {
                font-size: 1.3rem;
            }

            .about-2 p {
                font-size: 0.8rem;
            }

            .about-2 button {
                font-size: 0.8rem;
                padding: 8px 16px;
            }
        }
    </style>
    <!-- footer start berdik -->
  {% endblock content %}