{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Shopping Cart -->
<div class="shopping_cart_area">
    <div class="container">
        <form action="#">
            <div class="row">
                <div class="col-12">
                    <div class="table_desc">
                        <div class="cart_page table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product_remove">O'chirish</th>
                                        <th class="product_thumb">Rasm</th>
                                        <th class="product_name">Mahsulot</th>
                                        <th class="product-price">Narx</th>
                                        <th class="product_quantity">Miqdor</th>
                                        <th class="product_total">Jami</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in order.items.all %}
                                    <tr>
                                        <td class="product_remove">
                                            <a href="/remove_from_cart/{{item.id }}/">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                        <td class="product_thumb">
                                            <a href="#">
                                                <img src="{{ item.product.image1.url }}" alt="{{ item.product.name }}">
                                            </a>
                                        </td>
                                        <td class="product_name">
                                            <a href="#">{{ item.product.name }}</a>
                                        </td>
                                        <td class="product-price">{{ item.price }} so'm</td>
                                        <td class="product_quantity">
                                            <span> <a href="/decrease-quantity/{{ item.id }}/"> - </a></span> {{ item.quantity }} <span> <a href="/increase-quantity/{{ item.id }}/"> + </a> </span>
                                        </td>
                                        <td class="product_total">{{ item.total_price }} so'm</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="6">Savat bo‘sh</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="cart_submit">
                            <button type="submit">Savatni yangilash</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="coupon_area">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="coupon_code right">
                            <h3>Savatcha jami</h3>
                            <div class="coupon_inner">
                                <div class="cart_subtotal">
                                    <p>Oraliq summa</p>
                                    <p class="cart_amount">{{ order.total_price }} so'm</p>
                                </div>
                                <div class="cart_subtotal">
                                    <p>Yetkazib berish</p>
                                    <p class="cart_amount">15 000 so'm</p>
                                </div>
                                <a href="#">Yetkazib berishni hisoblash</a>
                                <div class="cart_subtotal">
                                    <p>Jami summa</p>
                                    <p class="cart_amount">{{ order.total_price|add:15000 }} so'm</p>
                                </div>
                                <div class="checkout_btn">
                                    <a href="#">To‘lovni yakunlash</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}
